---

---

<div>
  <div class="fixed z-10 top-20 right-10 sm:right-0 xl:right-10 w-80 sm:w-60 xl:w-80 h-screen invisible lg:visible">
    <div class="h-full px-3 py-4 overflow-y-auto text-center bg-gray-50">
      <p class="mt-4 mb-2 text-sm uppercase font-bold">INFOS GÉNÉRALES</p>
      <ul class="space-y-2 font-medium">
        <li>
          <a
            href="/quel-volet-roulant-choisir"
            class="items-center text-center text-xs p-2 text-gray-900 rounded-sm hover:bg-gray-200"
            >Quel volet roulant acheter</a
          >
        </li>
        <li>
          <a
            href="/prix-volet-roulant-aluminium"
            class="items-center text-center text-xs p-2 text-gray-900 rounded-sm hover:bg-gray-200"
            >Prix d'un volet roulant aluminium</a
          >
        </li>
      </ul>
      <p class="mt-4 mb-2 text-sm uppercase font-bold">TYPES DE VOLETS</p>
      <ul class="space-y-2 font-medium">
        <li>
          <a
            href="/volet-roulant-caisson"
            class="items-center text-center text-xs p-2 text-gray-900 rounded-sm hover:bg-gray-200"
            >Volet roulant à caisson</a
          >
        </li>
        <li>
          <a
            href="/volet-roulant-anti-effraction"
            class="items-center text-center text-xs p-2 text-gray-900 rounded-sm hover:bg-gray-200"
            >Volet roulant anti-effraction</a
          >
        </li>
        <li>
          <a
            href="/volet-roulant-solaire"
            class="items-center text-center text-xs p-2 text-gray-900 rounded-sm hover:bg-gray-200"
            >Volet roulant solaire</a
          >
        </li>
        <li>
          <a
            href="/volet-roulant-pour-velux"
            class="items-center text-center text-xs p-2 text-gray-900 rounded-sm hover:bg-gray-200"
            >Volet roulant pour Velux</a
          >
        </li>
      </ul>
      <p class="mt-4 mb-2 text-sm uppercase font-bold">POSE ET ENTRETIEN</p>
      <ul class="space-y-2 font-medium">
        <li>
          <a
            href="/reparation-volet-roulant"
            class="items-center text-center text-xs p-2 text-gray-900 rounded-sm hover:bg-gray-200"
            >Comment Réparer un Volet Roulant</a
          >
        </li>
        <li>
          <a href="/remplacer-sangle-volet-roulant" class="items-center text-center text-xs p-2 text-gray-900 rounded-sm hover:bg-gray-200"
            >Remplacer la sangle d'un volet roulant</a
          >
        </li>
      </ul>
      <p class="mt-4 mb-2 text-sm uppercase font-bold">COMMANDE</p>
      <ul class="space-y-2 font-medium">
        <li>
          <a href="/volet-roulant-electrique" class="items-center text-center text-xs p-2 text-gray-900 rounded-sm hover:bg-gray-200"
            >Volet roulant électrique</a
          >
        </li>
        <li>
          <a href="/motoriser-un-volet-roulant" class="items-center text-center text-xs p-2 text-gray-900 rounded-sm hover:bg-gray-200"
            >Motoriser un volet roulant</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
