---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
const metadata = {
  title: 'Trouvez des informations et des conseils spécialisés sur les volets roulants',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    callToAction={{
      text: 'Applez-Nous',
      href: '/',
      icon: 'tabler:download',
    }}
    callToAction2={{ text: 'Devis Gratuit', href: '#features' }}
    image={{ src: '~/assets/images/imgvoletroulant.png', alt: 'Matériaux des Volets Roulants' }}
  >
    <Fragment slot="title">Les Matériaux des Volets Roulants : Bois, PVC et Aluminium.</Fragment>
    <Fragment slot="subtitle">
      Lorsque vous envisagez d'installer des volets roulants, le choix du matériau est une décision cruciale. Les volets
      roulants sont disponibles dans une variété de matériaux, chacun ayant ses propres avantages et inconvénients.
      Parmi les matériaux les plus couramment utilisés, nous retrouvons le bois, le PVC et l'aluminium. Dans cet
      article, nous examinerons en détail ces trois matériaux pour vous aider à prendre une décision éclairée.
    </Fragment>
    <Fragment slot="sommaire1">1. Le Volet Roulant en Bois : Tradition et Durabilité.</Fragment>
    <Fragment slot="sommaire2">2. Le Volet Roulant en PVC : Léger et Facile d'Entretien.</Fragment>
    <Fragment slot="sommaire3">3. Le Volet Roulant en Aluminium : Solidité et Résistance</Fragment>
    <Fragment slot="sommaire4">4. Comparaison des Coûts et des Avantages</Fragment>
  </Hero>
  <Content
    id="section1"
    image={{
      src: '~/assets/images/types-de-volets-roulants.png',
      alt: 'Volet Roulant en Bois',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl font-bold leading-tighter tracking-normal mb-4">Le Bois : Tradition et Durabilité.</h2>
      <p class="mb-4">
        Le bois est un matériau traditionnel et intemporel pour les volets roulants. Il offre plusieurs avantages,
        notamment une excellente isolation thermique et phonique. Voici un aperçu de ses caractéristiques positives et
        de ses points à considérer :
      </p>
      <div class="mb-4">
        <h3 class="text-xl font-semibold mb-2">Avantages du Bois :</h3>
        <ul class="list-disc pl-6">
          <li>
            Durabilité : Le bois est réputé pour sa durabilité. Avec un entretien régulier, les volets en bois peuvent
            durer de nombreuses années.
          </li>
          <li>
            Isolation Thermique : Les volets en bois offrent une isolation thermique exceptionnelle, ce qui peut
            contribuer à réduire vos coûts de chauffage et de climatisation.
          </li>
          <li>
            Isolation Phonique : Le bois est un excellent absorbant sonore, ce qui signifie qu'il peut aider à réduire
            le bruit extérieur indésirable.
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-xl font-semibold mb-2">Inconvénients du Bois :</h3>
        <p>
          Entretien : Le bois nécessite un entretien régulier pour le protéger des intempéries, de la pourriture et des
          insectes. Cela peut inclure la peinture ou la lasure périodique et le traitement contre les termites.
        </p>
        <p>Coût Initial : Les volets en bois ont tendance à avoir un coût initial plus élevé que d'autres matériaux.</p>
      </div>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50"></div>
    </Fragment>
  </Content>
  <Content
    id="section2"
    image={{
      src: '~/assets/images/methode-de-commande-des-volets-roulants.png',
      alt: 'Volet Roulant en PVC',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl font-bold leading-tighter tracking-normal mb-4">Le PVC : Léger et Facile d'Entretien.</h2>
      <p class="mb-4">
        Le PVC est un matériau populaire pour les volets roulants en raison de sa légèreté et de son entretien facile.
        Voici ce que vous devez savoir sur les volets en PVC :
      </p>
      <div class="mb-4">
        <h3 class="text-xl font-semibold mb-2">Avantages du PVC :</h3>
        <ul class="list-disc pl-6">
          <li>Légèreté : Les volets en PVC sont légers, ce qui facilite leur manipulation et leur installation.</li>
          <li>Isolation Thermique : Comme le bois, le PVC offre une isolation thermique efficace.</li>
          <li>Isolation Phonique : Les volets en PVC réduisent également les nuisances sonores de l'extérieur.</li>
        </ul>
      </div>
      <div>
        <h3 class="text-xl font-semibold mb-2">Inconvénients du PVC :</h3>
        <p>
          Moins Durable : Bien que le PVC soit résistant aux intempéries, il est moins durable que le bois ou
          l'aluminium.
        </p>
        <p>Aspect Esthétique : Certains peuvent considérer que le PVC a un aspect moins traditionnel que le bois.</p>
      </div>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50"></div>
    </Fragment>
  </Content>
  <Content
    id="section3"
    image={{
      src: '~/assets/images/cout-des-volets-roulants.png',
      alt: 'Volet Roulant en Aluminium',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl font-bold leading-tighter tracking-normal mb-4">L'Aluminium : Solidité et Résistance</h2>
      <p class="mb-4">
        L'aluminium est un matériau robuste et résistant, idéal pour les volets roulants. Voici ce qu'il faut savoir sur
        les volets en aluminium :
      </p>
      <div class="mb-4">
        <h3 class="text-xl font-semibold mb-2">Avantages de l'Aluminium :</h3>
        <ul class="list-disc pl-6">
          <li>
            Solidité : L'aluminium est extrêmement solide et durable, capable de résister aux intempéries et aux chocs.
          </li>
          <li>Isolation Thermique : Les volets en aluminium offrent une excellente isolation thermique.</li>
          <li>Isolation Phonique : Ils contribuent également à réduire les bruits extérieurs indésirables.</li>
          <li>Faible Entretien : L'aluminium nécessite très peu d'entretien par rapport au bois.</li>
        </ul>
      </div>
      <div>
        <h3 class="text-xl font-semibold mb-2">Inconvénients de l'Aluminium :</h3>
        <p>Coût : Les volets en aluminium ont tendance à être plus coûteux que ceux en PVC ou en bois.</p>
      </div>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50"></div>
    </Fragment>
  </Content>
  <CallToAction
    callToAction={{
      text: 'Applez Nous',
      href: 'tel:01  85 49 07 07',
    }}
  >
    <Fragment slot="title">Demandez un devis gratuite dès aujourd'hui.</Fragment>
    <Fragment slot="subtitle">Des artisans experts à votre service pour répondre à toutes vos demandes.</Fragment>
  </CallToAction>
  <Content
    id="section4"
    image={{
      src: '~/assets/images/motoriser-des-volets-roulants.png',
      alt: 'Coûts et Avantages de volet roulant',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl md:text-xl font-bold leading-tighter tracking-normal mb-4">
        Comparaison des Coûts et des Avantages:
      </h2>
      <p>
        Voici une comparaison des coûts et des avantages de chaque matériau :<br /><br />
        <table class="min-w-full">
          <tr class="border-b border-gray-300">
            <td class="px-6 py-3 text-left text-xs font-bold uppercase tracking-wider">Matériau</td>
            <td class="px-6 py-3 text-left text-xs font-bold uppercase tracking-wider">Avantages</td>
            <td class="px-6 py-3 text-left text-xs font-bold uppercase tracking-wider">Inconvénients</td>
          </tr>
          <tr class="bg-gray-100 border-b border-gray-300">
            <td class="px-6 py-3">Bois</td>
            <td class="px-6 py-3">
              • Durabilité<br />
               • Isolation thermique et phonique
            </td>
            <td class="px-6 py-3">
              • Nécessite un entretien régulier<br />
               • Coût initial plus élevé
            </td>
          </tr>
          <tr class="bg-white border-b border-gray-300">
            <td class="px-6 py-3">PVC</td>
            <td class="px-6 py-3">
              • Légèreté<br />
               • Isolation thermique et phonique
            </td>
            <td class="px-6 py-3">
              • Moins durable<br />
               • Aspect esthétique
            </td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-6 py-3">Aluminium</td>
            <td class="px-6 py-3">
              • Solidité<br />
               • Isolation thermique et phonique<br />
               • Faible entretien
            </td>
            <td class="px-6 py-3"> • Coût initial plus élevé</td>
          </tr>
        </table>
      </p>
      <br />
      <br />
      <p class="mb-4">
        En conclusion, le choix du matériau des volets roulants dépend de vos besoins, de votre budget et de vos
        préférences esthétiques. Le bois offre une touche traditionnelle et une grande durabilité, mais nécessite un
        entretien régulier. Le PVC est léger et facile à entretenir, mais moins durable. L'aluminium est solide,
        résistant et nécessite peu d'entretien, mais peut être plus coûteux. Prenez le temps de réfléchir à vos
        priorités et aux conditions locales avant de faire votre choix final.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50"></div>
    </Fragment>
  </Content>
  <CallToAction
    callToAction={{
      text: 'Applez Nous',
      href: 'tel:01  85 49 07 07',
    }}
  >
    <Fragment slot="title">Demandez une devis gratuite dès aujourd'hui.</Fragment>
    <Fragment slot="subtitle">Des artisans experts à votre service pour répondre à toutes vos demandes.</Fragment>
  </CallToAction>
</Layout>
