---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
const metadata = {
  title: 'Volet Roulant : Comprendre les Prix ',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    callToAction={{
      text: 'Applez-Nous',
      href: '/',
      icon: 'tabler:download',
    }}
    callToAction2={{ text: 'Devis Gratuit', href: '#features' }}
    image={{ src: '~/assets/images/imgvoletroulant.png', alt: 'Volet Roulant : Comprendre les Prix' }}
  >
    <Fragment slot="title">Volet Roulant : Comprendre les Prix.</Fragment>
    <Fragment slot="subtitle">
      Lorsque vous envisagez l'installation de volets roulants dans votre maison, il est crucial de comprendre les
      différents facteurs qui influencent les prix. Les volets roulants se déclinent en divers matériaux et méthodes de
      commande, chacun ayant un impact sur le coût total. Dans cet article, nous examinerons de près les prix indicatifs
      des volets roulants en fonction de divers critères.
    </Fragment>
    <Fragment slot="sommaire1">1. Prix en Fonction du Matériau et de la Méthode de Commande</Fragment>
    <Fragment slot="sommaire2">2. Prix Selon le Type de Volet Roulant</Fragment>
    <Fragment slot="sommaire3">3. Frais d'Installation des Volets Roulants</Fragment>
  </Hero>
  <Content
    id="section1"
    image={{
      src: '~/assets/images/types-de-volets-roulants.png',
      alt: 'Prix en Fonction du Matériau et de la Méthode de Commande',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl font-bold leading-tighter tracking-wide mb-4">
        Prix en Fonction du Matériau et de la Méthode de Commande.
      </h2>
      <p>
        Les matériaux et la méthode de commande sont des aspects cruciaux qui déterminent le prix de vos volets
        roulants. Les deux matériaux les plus couramment utilisés sont l'aluminium et le PVC. En ce qui concerne la
        méthode de commande, vous avez le choix entre plusieurs options : manuelle avec une manivelle ou une sangle,
        électrique avec un interrupteur ou électrique avec une télécommande. Voici un tableau présentant les prix moyens
        :
        <br />
        <br />
        <span class="font-bold"> 1. Volet roulant en PVC</span><br />
        <li class="ml-6"><span class="font-semibold ml"> Commande manuelle :</span> Environ 100 - 250 €/m²</li>
        <li class="ml-6"><span class="font-semibold ml">Commande électrique :</span> Environ 200 - 500 €/m²</li><br />
        <span class="font-bold">2. Volet roulant en aluminium</span>
        <br />
        <li class="ml-6">
          <span class="font-semibold ml"> Commande manuelle :</span> Environ 110 - 270 €/m²
          <br />
        </li>
        <li class="ml-6"><span class="font-semibold ml"> Commande électrique :</span> Environ 200 - 750 €/m²</li><br />
         N'oubliez pas de prendre en compte les frais d'installation, qui sont généralement d'environ 70 € par heure
        (TVA et frais de déplacement inclus). Vous pouvez également demander des devis personnalisés et gratuits via
        notre page de devis, sans aucun engagement.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50"></div>
    </Fragment>
  </Content>
  <Content
    id="section2"
    image={{
      src: '~/assets/images/methode-de-commande-des-volets-roulants.png',
      alt: 'Prix Selon le Type de Volet Roulant',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl font-bold leading-tighter tracking-wide mb-4">Prix Selon le Type de Volet Roulant</h2>
      <p>
        Il existe trois principaux types de volets roulants : le volet roulant intégré, le volet roulant à caisson et le
        volet roulant monobloc. Chacun d'entre eux présente des caractéristiques spécifiques et des prix indicatifs en
        fonction du matériau et de la méthode de commande (TVA incluse, mais hors frais d'installation). <br />
        <br />
        <span class="font-bold">1. Volet Roulant Intégré :</span> Le volet roulant intégré est particulièrement élégant,
        car son caisson est dissimulé dans une alcôve au-dessus de la fenêtre et derrière la façade. Cette discrétion a
        un prix, car l'installation nécessite des travaux de démolition. Il est donc recommandé de l'envisager lors de
        la construction de votre logement ou pendant une rénovation complète.<br /><br /><span class="font-semibold"
          >PVC</span
        ><li class="ml-6">Manuel,avec sangle (1 m x 1 m) : Environ 90 €</li><li class="ml-6">
          Électrique, avec émetteur et télécommande (1 m x 1 m) : Environ 480 €
        </li>
        <br /><span class="font-semibold">Aluminium</span><li class="ml-6">
          Manuel, avec sangle (1 m x 1 m) : Environ 160 €
        </li><li class="ml-6">Électrique, avec émetteur et télécommande (1 m x 1 m) : Environ 730 €</li><br /><span
          class="font-semibold">2. Volet Roulant à Caisson :</span
        > Les volets roulants à caisson sont plus simples à installer, car ils se montent directement sur la façade avec
        un caisson. Ils conviennent parfaitement aux maisons en rénovation, car aucune démolition n'est nécessaire.
        Cependant, gardez à l'esprit que le caisson est visible sur la façade, ce qui peut être considéré comme un
        inconvénient esthétique.
        <br /><br /><span class="font-semibold">PVC</span><li class="ml-6">
          Manuel, avec sangle (1 m x 1 m) : Environ 150 €
        </li><li class="ml-6">Électrique, avec émetteur et télécommande (1 m x 1 m) :Environ 400 €</li><li class="ml-6">
          Aluminium Manuel, avec sangle (1 m x 1 m) : Environ 200 €
        </li><li class="ml-6">Électrique, avec émetteur et télécommande (1 m x 1 m) : Environ 500 €</li><br /><span
          class="font-semibold">3. Volet Roulant Monobloc:</span
        >Dans le cas d'un volet roulant monobloc, le caisson est monté du côté intérieur de la maison, donnant ainsi
        l'apparence d'une uniformité vue de l'extérieur. Ces volets offrent également une bonne isolation, car ils sont
        fixés sur les fenêtres. Comme pour les volets intégrés, l'installation nécessite des travaux de démolition, ce
        qui les rend plus adaptés aux nouvelles constructions.<br /><br /><span class="font-semibold">PVC</span><li
          class="ml-6"
        >
          Manuel, avec sangle (1 m x 1 m) : Environ 250 €
        </li><li class="ml-6">Électrique, avec émetteur et télécommande (1 m x 1 m) : Environ 450 €</li>
        <br /><span class="font-semibold">Aluminium</span><li class="ml-6">
          Manuel, avec sangle (1 m x 1 m) : Environ 220 €
        </li><li class="ml-6">Électrique, avec émetteur et télécommande (1 m x 1 m) : Environ 600 €</li>
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50"></div>
    </Fragment>
  </Content>
  <Content
    id="section3"
    image={{
      src: '~/assets/images/cout-des-volets-roulants.png',
      alt: "Frais d'Installation des Volets Roulants",
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl font-bold leading-tighter tracking-wide mb-4">Frais d'Installation des Volets Roulants</h2>
      <p>
        Il est fortement recommandé de faire appel à un professionnel pour l'installation de vos volets roulants, car
        l'expérience est un atout essentiel. Une installation incorrecte pourrait entraîner des coûts considérables en
        réparations. En moyenne, un installateur professionnel facture environ 280 € pour 4 heures de travail, TVA et
        frais de déplacement inclus.<br /><br />Lorsque vous envisagez d'installer des volets roulants, prenez le temps
        de comparer les options en fonction de vos besoins et de votre budget. Cela vous permettra de faire un choix
        éclairé en assurant la qualité et la sécurité de votre installation.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50"></div>
    </Fragment>
  </Content>
  <CallToAction
    callToAction={{
      text: 'Applez Nous',
      href: 'tel:01  85 49 07 07',
    }}
  >
    <Fragment slot="title">Demandez un devis gratuite dès aujourd'hui.</Fragment>
    <Fragment slot="subtitle">Des artisans experts à votre service pour répondre à toutes vos demandes.</Fragment>
  </CallToAction>
</Layout>
