---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
const metadata = {
  title: 'Les Différents Types de Volets : Comment Choisir le Meilleur pour Votre Maison',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    callToAction={{
      text: 'Applez-Nous',
      href: '/',
      icon: 'tabler:download',
    }}
    callToAction2={{ text: 'Devis Gratuit', href: '#features' }}
    image={{ src: '~/assets/images/imgvoletroulant.png', alt: 'Les Différents Types de Volets' }}
  >
    <Fragment slot="title">Les Différents Types de Volets : Comment Choisir le Meilleur pour Votre Maison.</Fragment>
    <Fragment slot="subtitle">
      Les volets jouent un rôle essentiel dans l'esthétique et la fonctionnalité d'une maison. Ils ne servent pas
      seulement à protéger votre intimité, mais aussi à contrôler la luminosité, l'isolation thermique et la sécurité.
      Dans cet article, nous allons explorer les principales catégories de volets disponibles pour vous aider à choisir
      celui qui correspond le mieux à vos besoins.
    </Fragment>
    <Fragment slot="sommaire1">1. Volet Roulant à Caisson</Fragment>
    <Fragment slot="sommaire2">2. Volet Roulant Anti-Effraction</Fragment>
    <Fragment slot="sommaire3">3. Volet Roulant pour Velux</Fragment>
    <Fragment slot="sommaire4">4. Volet Roulant Solaire</Fragment>
    <Fragment slot="sommaire5">5. Volet Roulant et Isolation</Fragment>
  </Hero>
  <Content
    id="section1"
    image={{
      src: '~/assets/images/types-de-volets-roulants.png',
      alt: 'Volet Roulant à Caisson',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl font-bold leading-tighter tracking-normal mb-4 font-heading">
        Volet Roulant à Caisson : L'Option Classique
      </h2>
      <p>
        Le volet roulant à caisson est l'un des types de volets les plus couramment utilisés. Fabriqué en aluminium ou
        en PVC, il offre une isolation thermique exceptionnelle, une protection contre les intempéries et une sécurité
        accrue. Apprenez-en plus sur les avantages de ce volet roulant pour améliorer votre confort et votre
        tranquillité d'esprit.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50"></div>
    </Fragment>
  </Content>
  <Content
    id="section2"
    image={{
      src: '~/assets/images/methode-de-commande-des-volets-roulants.png',
      alt: 'Volet Roulant Anti-Effraction',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl font-bold leading-tighter tracking-normal mb-4 font-heading">
        Volet Roulant Anti-Effraction : La Sécurité Avant Tout
      </h2>
      <p>
        La sécurité est une préoccupation majeure pour de nombreuses personnes, et c'est là que le volet roulant
        anti-effraction entre en jeu. Découvrez comment ce type de volet, conçu avec des matériaux robustes et des
        mécanismes de verrouillage avancés, peut dissuader les cambrioleurs et renforcer la sécurité de votre domicile.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50"></div>
    </Fragment>
  </Content>
  <Content
    id="section3"
    image={{
      src: '~/assets/images/cout-des-volets-roulants.png',
      alt: 'Volet Roulant pour Velux',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl font-bold leading-tighter tracking-normal mb-4 font-heading">
        Volet Roulant pour Velux : L'Harmonie avec Votre Fenêtre de Toit
      </h2>
      <p>
        Les fenêtres de toit Velux sont très populaires dans les greniers et les combles aménagés. Pour ces fenêtres
        spécifiques, il existe des volets roulants sur mesure. Explorez les avantages de ces volets conçus pour
        s'adapter parfaitement aux dimensions des fenêtres Velux et pour vous offrir une obscurité totale lorsque
        nécessaire.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50"></div>
    </Fragment>
  </Content>
  <CallToAction
    callToAction={{
      text: 'Applez Nous',
      href: '/',
    }}
  >
    <Fragment slot="title">Demandez un devis gratuite dès aujourd'hui.</Fragment>
    <Fragment slot="subtitle">Des artisans experts à votre service pour répondre à toutes vos demandes.</Fragment>
  </CallToAction>
  <Content
    id="section4"
    image={{
      src: '~/assets/images/motoriser-des-volets-roulants.png',
      alt: 'Volet Roulant Solaire',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl md:text-xl font-bold leading-tighter tracking-normal mb-4 font-heading">
        Volet Roulant Solaire : L'Écologie au Service de Votre Confort.
      </h2>
      <p>
        Les volets roulants solaires sont une option écologique et économe en énergie. Ils sont équipés de panneaux
        solaires qui alimentent un moteur électrique pour ouvrir et fermer les volets. Cela signifie que vous n'avez pas
        besoin de câblage électrique supplémentaire, ce qui simplifie leur installation. De plus, les volets roulants
        solaires vous permettent de réduire votre empreinte carbone tout en économisant sur vos factures d'énergie.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50"></div>
    </Fragment>
  </Content>
  <Content
    id="section5"
    image={{
      src: '~/assets/images/motoriser-des-volets-roulants.png',
      alt: 'Volet Roulant et Isolation',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl md:text-xl font-bold leading-tighter tracking-normal mb-4 font-heading">
        Volet Roulant et Isolation : Le Duo Gagnant
      </h2>
      <p>
        L'isolation thermique est essentielle pour économiser de l'énergie. Les volets roulants sont conçus pour
        améliorer l'efficacité énergétique de votre maison. Découvrez comment ils agissent comme une barrière
        supplémentaire contre les pertes de chaleur en hiver et la chaleur excessive en été. Investir dans des volets de
        qualité peut réduire vos coûts de chauffage et de climatisation tout en améliorant votre confort quotidien. En
        conclusion, le choix du bon type de volet peut avoir un impact significatif sur votre maison en termes de
        sécurité, d'efficacité énergétique et d'esthétique. Prenez le temps de comparer les caractéristiques de chaque
        type de volet pour trouver celui qui correspond le mieux à vos besoins spécifiques. Quel que soit votre choix,
        des volets de qualité ajouteront de la valeur à votre propriété tout en améliorant votre qualité de vie.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50"></div>
    </Fragment>
  </Content>
  <CallToAction
    callToAction={{
      text: 'Applez Nous',
      href: '/',
    }}
  >
    <Fragment slot="title">Demandez une devis gratuite dès aujourd'hui.</Fragment>
    <Fragment slot="subtitle">Des artisans experts à votre service pour répondre à toutes vos demandes.</Fragment>
  </CallToAction>
</Layout>
