---
import Item from '~/components/blog/ListItem.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<ul class="grid grid-cols-1 md:grid-cols-4 gap-4">
  {
    posts.flatMap((post) => (
      <li class="hover:bg-gray-100 rounded-lg">
        <Item post={post} />
      </li>
    ))
  }
</ul>
