---
import { getPermalink } from '~/utils/permalinks';

import {  APP_BLOG_CONFIG } from '~/utils/config';
import type { Post } from '~/types';

export interface Props {
  tags: Post['tags'];
  class?: string;  
  title?: string | undefined;
  isCategory?: boolean;
}

const { tags, class: className = 'text-sm', title = undefined, isCategory = false } = Astro.props;
---

{
  tags && Array.isArray(tags) && (
    <>
      <>
        {title !== undefined && <span class="align-super font-normal underline underline-offset-4 decoration-2 ">{title}</span>}
      </>
      <ul class={className}>
        {tags.flatMap((tag) => (
          <li class="bg-gray-100  inline-block mr-2 rtl:mr-0 rtl:ml-2 mb-2 py-0.5 px-2 lowercase font-medium">
            {!APP_BLOG_CONFIG?.tag?.isEnabled ? (
              tag
            ) : (
              <span
                
                class="text-muted hover:text-primary "
              >
                {tag}
              </span>
            )}
          </li>
        ))}
      </ul>
    </>
  )
}
