---
import type { Headline } from '~/types';
import { twMerge } from 'tailwind-merge';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  classes = {},
} = Astro.props as Headline;

const {
  container: containerClass = 'max-w-3xl',
  title: titleClass = 'text-xl text-center my-4 md:text-3xl tracking-wide ',
  subtitle: subtitleClass = 'text-lg text-center mb-6',
} = classes;
---

{
  (title || subtitle || tagline) && (
    <div class={twMerge('', containerClass)}>
      {tagline && <p class="text-base text-secondary font-bold tracking-wide uppercase" set:html={tagline} />}
      {title && (
        <p
          class={twMerge('font-bold leading-tighter tracking-wide  text-heading text-3xl', titleClass)}
          set:html={title}
        />
      )}

      {subtitle && <p class={twMerge(' text-muted ', subtitleClass)} set:html={subtitle} />}
    </div>
  )
}
