---
import { twMerge } from 'tailwind-merge';

const { id, containerClass = '', as = 'section' } = Astro.props;
const WrapperTag = as;
---

<WrapperTag class="relative not-prose mx-4 scroll-mt-[74px]" {...id ? { id } : {}}>
  <div class="absolute inset-0 pointer-events-none -z-[1]" aria-hidden="true"></div>
  <div class:list={[twMerge('relative max-w-7xl text-default', containerClass)]}>
    <slot />
  </div>
</WrapperTag>
